name: Carepack Deployment Workflow

on:
  push:
  pull_request:
    types:
      - closed

jobs:

    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo The PR was merged
    
    
