name: Carepack Deployment Workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: [ "main" ]
  pull_request_review:
    types: [submitted]
    
jobs:   
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2  
    - if: github.event.review.state == 'approved'
      run: echo "This PR was approved"
        s3_path="s3://c360-airflow-dags-dev/code/"
        echo "Copying files"
        aws s3 cp emrspark8.py ${s3_path}
      shell: bash
      
