name: Carepack Deployment Workflow

on:
  [push,workflow_dispatch,pull_request_review]
    
jobs:   
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v2  
    - if: github.event.review.state == 'approved'
      run: echo "This change was approved"
    - name: Zipping files
      run: Compress-Archive code/* -s3-zip/ code.zip
      shell: powershell
    - name: Commit and push
      uses: EndBug/add-and-commit@v7
      with:
        add: '["s3-zip/"]'
        message: 'Updating zip file'
        push: true
