name: Carepack Deployment Workflow

on:
  [push,workflow_dispatch,pull_request_review]
    
jobs:   
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v2  
    - if: github.event.review.state == 'approved'
      run: echo "This change was approved"
    - name: Zipping files
      run: |
        zip -r -q /s3-zip/code2.zip ssetl/
      shell: bash
