name: Carepack Deployment Workflow

on:
  [push,workflow_dispatch,pull_request_review]
    
jobs:   
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v3  
    - if: github.event.review.state == 'approved'
      run: echo "This change was approved"
    - name: Zipping files
      run: |
        mkdir s3-zip
        zip -j s3-zip/code2.zip code/cams_process.py code/ssetl.py
